<div class="page-width1">
  <div style="padding-top:{{ section.settings.pad_top }}px;padding-bottom:{{ section.settings.pad_bottom }}px;">
    <div class="Image_banner" style="background-image:url('{{ section.settings.main_img_bg|img_url:'master' }}');">
      <div class="banner_wrapper block-aligned--{{ section.settings.content_aligned }}">
        <div class="overlay empty" style="opacity:{{ section.settings.overlay }}%"></div>
        <div class="banner_content_inner" style="text-align:{{ section.settings.text_alignment }}">
           {% if section.settings.banner_btn1 != blank %} <div class="banner_btn button1"><a class="btn1--secondary" href="{{ section.settings.btn_link1 }}"><button class="secondary_btn"><span>{{ section.settings.banner_btn1 }}</span></button></a></div>{% endif %}
            {% if section.settings.head != blank %} <div class="banner_head">{{ section.settings.head }}</div>{% endif %}
            {% if section.settings.sub_head!= blank %} <div class="banner_subhead">{{ section.settings.sub_head }}</div>{% endif %}
            {% if section.settings.banner_btn2 != blank %}  <div class="banner_btn button2"><a class="btn2--primary" href="{{ section.settings.btn_link2 }}"><button class="primary_btn"><span>{{ section.settings.banner_btn2 }}</span></button></a></div>{% endif %}
        </div>
      </div>  
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "MainPage Banner",
    "settings": [
      {
        "type":"image_picker",
        "id":"main_img_bg",
        "label":"Background Image"
      },
      {
        "type":"select",
        "id":"content_aligned",
        "label":"Content Aligned",
        "options": [
          {
            "value": "top-left",
            "label": "Top Left"
          },
          {
            "value": "top-center",
            "label": "Top Center"
          },
          {
            "value": "top-right",
            "label": "Top Right"
          },
          {
            "value": "middle-left",
            "label": "Middle Left"
          },
          {
            "value": "middle-center",
            "label": "Middle Center"
          },
          {
            "value": "middle-right",
            "label": "Middle Right"
          },
          {
            "value": "bottom-left",
            "label": "Bottom Left"
          },
          {
            "value": "bottom-center",
            "label": "Bottom Center"
          },
          {
            "value": "bottom-right",
            "label": "Bottom Right"
          }
        ],
      },
      {
        "type":"header",
        "content":"Button 1"
      },
      {
        "type":"text",
        "id":"banner_btn1",
        "label":"Button"
      },
      {
        "type":"url",
        "id":"btn_link1",
        "label":"Button URL"
      },
      {
        "type":"html",
        "id":"head",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"sub_head",
        "label":"SubHeading"
      },
      {
        "type":"header",
        "content":"Button 2"
      },
      {
        "type":"text",
        "id":"banner_btn2",
        "label":"Button"
      },
      {
        "type":"url",
        "id":"btn_link2",
        "label":"Button URL"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "overlay",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Image Overlay",
        "default": 20
      },
      {
        "type": "range",
        "id": "pad_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 20
      },
      {
        "type": "range",
        "id": "pad_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 20
      },
      {
        "type": "range",
        "id": "pad_mob_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 20
      },
      {
        "type": "range",
        "id": "pad_mob_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 20
      }
    ],
    "presets":[
      {
        "name": "MainPage Banner"
      }
    ]
  }
{% endschema %}